<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form id='uploadForm' method="post" enctype="multipart/form-data" action="/uploadFile">
        <input type="text" name="title">
        <br>
        <!-- <input type="file" name="upload" multiple="multiple"> -->
        <!-- <input type="file" name="uploadingFile"> -->
        <input type="file" name="image">
        <br>
        <input type="submit" value="Upload">
    </form>
</body>

</html>